In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import matplotlib as mpl
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('jena_climate_2009_2016.csv')
df.head()

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,01.01.2009 00:10:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
1,01.01.2009 00:20:00,996.57,-8.41,265.01,-9.28,93.4,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2,01.01.2009 00:30:00,996.53,-8.51,264.91,-9.31,93.9,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
3,01.01.2009 00:40:00,996.51,-8.31,265.12,-9.07,94.2,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
4,01.01.2009 00:50:00,996.51,-8.27,265.15,-9.04,94.1,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3

In [3]:
uni_data = uni_data.values

NameError: name 'uni_data' is not defined

In [ ]:
train_split = 300000
tf.random.set_seed(13)

uni_data_mean = uni_data[:train_split].mean()
uni_data_std = uni_data[:train_split].std()
uni_data  = (uni_data - uni_data_mean)/ uni_data_std

In [ ]:
def univariate_data(dataset, start_idx , end_idx , history_size, target_size):
    data = []
    labels = []
    start_idx  = start_idx + history_size
    if end_idx is None:
        end_idx = len(dataset)- target_size
    for i in range(start_idx , end_idx):
        idxs = range(i-history_size , i)
        data.append(np.reshape(dataset[idxs] , (history_size, 1)))
        labels.append(dataset[i+target_size])
    return np.array(data), np.array(labels)

uni_data_history = 20
uni_data_future = 0 

x_train_uni , y_train_uni = univariate_data(uni_data , 0 , train_split , uni_data_history , uni_data_future)
x_val_uni , y_val_uni = univariate_data(uni_data , train_split , None ,uni_data_history , uni_data_future)

In [ ]:
print(x_train_uni.shape , y_train_uni.shape)
print(x_val_uni.shape , y_val_uni.shape)

In [ ]:
print('Single window of history data' , x_train_uni[0])
print('Target Temperature to predict ' , y_train_uni[0])